@import "@penpot/plugin-styles/styles.css";

body {
  line-height: 1.5;
  min-width:700px;
  min-height:400px;
}

/* #sideNavBar{
  display:flex;
  flex-direction:column;
  float:right;
}

.item{
  padding-top: 30px; 
  padding-bottom:30px;
  padding-left: 10px;
  padding-right:10px;
} */

#instructions{
   width:90%;
}

#group1, #group2, #group3, #group4{
  display:flex;
  justify-content: normal;
  flex-wrap:wrap;
}

.collapsible {
  background-color: #800000;
  color: white;
  cursor: pointer;
  padding: 50px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 30px;
  font-family: 'Sour Gummy';
}

.active, .collapsible:hover {
  background-color: #b10000;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #dfe0e2;
}

/*------------------------------------------------------------Nav----------------------------------------------------------*/

#button1, #image1{
  width:430px;
  height:40px;
  background-color: transparent;
}
#img1{
  width:450px;
  height:300px;
}

#button2, #image2{
  width:145px;
  height:460px;
  background-color: transparent;
}
#img2{
  width:400px;
  height:470px;
}

#button19, #image19{
  width:430px;
  height:60px;
  background-color: transparent;
}
#img19{
  width:450px;
  height:470px;
}

#button18, #image18{
  width:350px;
  height:350px;
  background-color: transparent;
}
#img18{
  width:450px;
  height:450px;
}

#button20, #image20{
  width:350px;
  height:470px;
  background-color: transparent;
}
#img20{
  width:500px;
  height:500px;
}

/*------------------------------------------------------------Content ----------------------------------------------------------*/

#button11, #image11{
  width:650px;
  height:350px;
  background-color: transparent;
}
#img11{
  width:650px;
  height:400px;
}

#button12, #image12{
  width:650px;
  height:200px;
  background-color: transparent;
}
#img12{
  width:650px;
  height:250px;
}

#button17, #image17{
  width:575px;
  height:200px;
  background-color: transparent;
}
#img17{
  width:600px;
  height:250px;
}

#button13, #image13{
  width:500px;
  height:200px;
  background-color: transparent;
}
#img13{
  width:600px;
  height:250px;
}

#button21, #image21{
  width:600px;
  height:350px;
  background-color: transparent;
}
#img21{
  width:650px;
  height:400px;
}

#button25, #image25{
  width:650px;
  height:250px;
  background-color: transparent;
}
#img25{
  width:700px;
  height:300px;
}

/*------------------------------------------------------------Forms ----------------------------------------------------------*/

#button3, #image3{
  width:270px;
  height:200px;
  background-color: transparent;
}
#img3{
  width:300px;
  height:470px;
}

#button4, #image4{
  width:270px;
  height:370px;
  background-color: transparent;
}
#img4{
  width:300px;
  height:470px;
}

#button5, #image5{
  width:270px;
  height:370px;
  background-color: transparent;
}
#img5{
  width:300px;
  height:470px;
} 

#button14, #image14{
  width:270px;
  height:370px;
  background-color: transparent;
}
#img14{
  width:300px;
  height:470px;
}

#button15, #image15{
  width:270px;
  height:270px;
  background-color: transparent;
}
#img15{
  width:300px;
  height:470px;
}

/*------------------------------------------------------------Elements------------------------------------------------------*/

#button6, #image6{
  width:250px;
  height:60px;
  background-color: transparent;
}
#img6{
  width:300px;
  height:200px;
}

#button16, #image16{
  width:320px;
  height:100px;
  background-color: transparent;
}
#img16{
  width:350px;
  height:200px;
}

#button7, #image7{
  width:250px;
  height:100px;
  background-color: transparent;
}
#img7{
  width:300px;
  height:200px;
}

#button8, #image8{
  width:250px;
  height:100px;
  background-color: transparent;
}
#img8{
  width:300px;
  height:200px;
}

#button9, #image9{
  width:250px;
  height:150px;
  background-color: transparent;
}
#img9{
  width:300px;
  height:250px;
}

#button10, #image10{
  width:200px;
  height:200px;
  background-color: transparent;
}
#img10{
  width:300px;
  height:250px;
}

#button22, #image22{
  width:200px;
  height:200px;
  background-color: transparent;
}
#img22{
  width:300px;
  height:250px;
}

#button23, #image23{
  width:250px;
  height:200px;
  background-color: transparent;
}
#img23{
  width:300px;
  height:250px;
}

#button24, #image24{
  width:200px;
  height:200px;
  background-color: transparent;
}
#img24{
  width:300px;
  height:250px;
}
















